@font-face {
  font-family: ville-regular;
  src: url('../fonts/Baskervville-Regular.ttf')
}
@font-face {
  font-family: ville-italic;
  src: url('../fonts/Baskervville-Italic.ttf')
}
body {
  background-image: url('../images/backdropCropped.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  width: 100%;
  text-align: center;
  /* need to be flex centered after logo and extras are added */
}
.landing-page-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.5% 0 3.5% 0%
}
.landing-page-form > input, .landing-page-form > label {
  margin: 4%;
}
.main-menu-icon {
  width: 35%;
  height: 45%;
  background-image: url('../images/menu.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 15% 0 0 10%;
  position: relative;
}
.header, .header-with-holes {
  display: flex;
  justify-content: space-between;
}
.main-menu-icon:hover {
  border-bottom: 1px solid black;
}
.main-menu-container {
  width: 40%;
}
.main-menu {
  margin: 10.8% 0 0 0;
  position: absolute;
  background-color: black;
  height: 75%;
  width: 55%;
  border-top-right-radius: 12% 3%;
  border-bottom-right-radius: 12% 3%;
  visibility: hidden;
  color: white;
  padding: 10% 0 0 5%;
}