@font-face {
  font-family: ville-regular;
  src: url('../fonts/Baskervville-Regular.ttf')
}
@font-face {
  font-family: ville-italic;
  src: url('../fonts/Baskervville-Italic.ttf')
}
body {
  background-image: url('../images/backdropCropped.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  width: 100%;
  text-align: center;
  /* need to be flex centered after logo and extras are added */
}
.landing-page-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.5% 0 3.5% 0%
}
.landing-page-form > input, .landing-page-form > label {
  margin: 4%;
}
#frontNine {
  padding: 5% 0 0 0;
}
.header-two {
  font-size: 25px;
}
.hole-number {
  font-size: 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 0 0 0 1%;
}
.hole-par {
  font-size: 16px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 18%;
  text-align: center;
}
#holes {
  background-color: whitesmoke;
  margin: 15% 4% 15% 4%;
  padding: 3.5%;
  border-radius: 12%/1%;
  opacity: .8;
}
#hole {
  margin: 3.5%;
}
#player-block {
  padding: 3.5%;
  display: grid;
  grid-template-columns: 1fr;
}
#player-name {
  padding: 2.5% 0 2.5% 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 0 0 1% 1%;
  width: 50%
}
.player-int {
  padding: 4% 0 0 0
}
#hole-score {
  width: 25%;
  margin: 2.5% 0 2.5% 0;
}
button {
  width: 10%;    
     
}