// $header-color: rgb(65,176,17);
$header-color: gray;
$menu-color: gray;

@font-face {
  font-family: ville-regular;
  src: url('../fonts/Baskervville-Regular.ttf')
}
@font-face {
  font-family: ville-italic;
  src: url('../fonts/Baskervville-Italic.ttf')
}
body {
  // background-image: url('../images/backdropCropped.jpg');
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  width: 100%;
  text-align: center;
  /* need to be flex centered after logo and extras are added */
}
.landing-page-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.5% 0 3.5% 0%
}
.landing-page-form > input, .landing-page-form > label {
  margin: 4%;
}
.main-menu-icon {
  width: 35%;
  height: 45%;
  background-image: url('../images/menu.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 15% 0 0 10%;
  position: relative;
  overflow: visible;
}
.header, .header-with-holes {
  background-color:  $header-color;
  // background-image: url('../images/backdropCropped.jpg');
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  margin: 0 0 10% 0;
  z-index: 1;
  // overflow: hidden;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius:5%;
  box-shadow: 0px 2px;
}
.main-menu-container {
  width: 40%;
}
.main-menu {
  margin: 10.8% 0 0 0;
  position: absolute;
  background-color: $menu-color;
  height: auto;
  width: 50%;
  border-top-right-radius: 12% 20%;
  border-bottom-right-radius: 12% 20%;
  visibility: hidden;
  color: white;
  padding: 10% 0 10% 5%;
  margin: 25% 0 0 0;
  top: 0;
  position: fixed;
}