/* Tiny Screen */
@media only screen and (max-width: 375px) {
  body {
    // background-image: url('../images/backdropCropped.jpg');
    background-color: rgb(65,176,17);
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
}
/* Tablet */
@media screen and (min-width: 675px) and (max-width: 1024px) {
  body {
    // background-image: url('../images/backdrop.jpg');
    background-color: rgb(65,176,17);
    background-size: 255%;
    background-position-y: 30%;
    background-position-x: 30%;
    background-repeat: no-repeat;
  }
}
/* Small Laptop/Large Tablet */
@media screen and (min-width: 1025px) and (max-width: 1300px) {
  body {
    // background-image: url('../images/backdrop.jpg');
    background-color: green;
    background-size: 255%;
    background-position-y: 20%;
    background-position-x: 20%;
    background-repeat: no-repeat;
  }
}
/* Medium Laptop */
@media screen and (min-width: 1301px) {
  body {
    // background-image: url('../images/backdrop.jpg');
    background-color: rgb(65,176,17);
    background-size: 200%;
    background-position-y: 20%;
    background-repeat: no-repeat;
  }
}
/* Large Screen */
@media screen and (min-width: 1800px) {
  body {
    // background-image: url('../images/backdrop.jpg');
    background-color: rgb(65,176,17);
    background-size: 150% auto;
    background-position-y: 20%;
    background-repeat: no-repeat;
  }
}
/* 4K */
@media screen and (min-width: 2100px) {
  body {
    // background-image: url('../images/backdrop.jpg');
    background-color: rgb(65,176,17);
    /* background-size: 150% auto; */
    background-position-y: 20%;
    background-repeat: no-repeat;
  }
}